<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="../../assets/stylesheets/index.css">
  </head>
  <body>

  <div class="main-page-container">

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div id="central-box" class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item">
      <p id="makersbnb">MakersBnB<p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <%= form_with scope: :user, local: true, url: 'login', id: 'form' do |form| %>
    <div class="grid-item" id="item-5">
        <p>
          <%= form.text_field :attr, placeholder: "Username", id: "username", class: "fields", autofocus: "true" %>
        </p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item" id="item-8">
        <p>
          <%= form.text_field :attr, placeholder: "Password", id: "password", class: "fields" %>
        </p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item" id="item-11">
        <p>
          <%= form.submit :attr, class: "fields", value: "Sign in" %>
        </p>
    <% end %>

    </div>
    <div class="grid-item"></div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  </div>

  </body>
</html>
