<!DOCTYPE html>
<html>

<head>
  <title>Spaces</title>
  <link rel="stylesheet" type="text/css" href="showlisting.css">
  <link rel="stylesheet" href="../../assets/stylesheets/spaces.css">
</head>

<body>
  <div class="container">
    <div class="top1"><a class="navback" href="LASTPAGE"><img src="arr_backward.png"></a></div>
    <div class="top2"><h1 class="heading">Makers</h1> </div>
    <div class="top3"><h1 class="heading">BnB</h1></div>
    <div class="top4"><a class="navnext" href="NEXTPAGE"><img src="arr_forward.png"></a></div>
    <div id="card1" class="cardbg">
      <div class="imagecontainer"><img src="apartment.jpg" ></div>
        <div class="placename">
          <p class="textname">NAME</p>
        </div>
        <div class="price">
          <p class="textprice">£500</p>
        </div>
        <div class="placedescription">
          <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
        </div>
      </div>

      <div id="card2" class="cardbg" >
        <div class="imagecontainer"><img src="apartment.jpg" ></div>
          <div class="placename">
            <p class="textname">NAME</p>
          </div>
          <div class="price">
            <p class="textprice">£500</p>
          </div>
          <div class="placedescription">
            <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
          </div>
        </div>

        <div id="card3" class="cardbg">
          <div class="imagecontainer"><img src="apartment.jpg" ></div>
            <div class="placename">
              <p class="textname">NAME</p>
            </div>
            <div class="price">
              <p class="textprice">£500</p>
            </div>
            <div class="placedescription">
              <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
            </div>
          </div>

          <div id="card4" class="cardbg">
            <div class="imagecontainer"><img src="apartment.jpg" ></div>
              <div class="placename">
                <p class="textname">NAME</p>
              </div>
              <div class="price">
                <p class="textprice">£500</p>
              </div>
              <div class="placedescription">
                <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
              </div>
            </div>

            <div id="card5" class="cardbg">
              <div class="imagecontainer"><img src="apartment.jpg" ></div>
                <div class="placename">
                  <p class="textname">NAME</p>
                </div>
                <div class="price">
                  <p class="textprice">£500</p>
                </div>
                <div class="placedescription">
                  <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
                </div>
              </div>

              <div id="card6" class="cardbg">
                <div class="imagecontainer"><img src="apartment.jpg" ></div>
                  <div class="placename">
                    <p class="textname">NAME</p>
              
                  </div>
                  <div class="price">
                    <p class="textprice">£500</p>
                  </div>
                  <div class="placedescription">
                    <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
                  </div>
                </div>

                <div id="card7" class="cardbg">
                  <div class="imagecontainer"><img src="apartment.jpg" ></div>
                    <div class="placename">
                      <p class="textname">NAME</p>
                    </div>
                    <div class="price">
                      <p class="textprice">£500</p>
                    </div>
                    <div class="placedescription">
                      <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
                    </div>
                  </div>

                  <div id="card8" class="cardbg">
                    <div class="imagecontainer"><img src="apartment.jpg" ></div>
                      <div class="placename">
                        <p class="textname">NAME</p>
                      </div>
                      <div class="price">
                        <p class="textprice">£500</p>
                      </div>
                      <div class="placedescription">
                        <p class="textdescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. fhdjsfsdf sdf sdf sdf sd f sojowejowejof wfwdfsdf. hdjsakpjfkdasdfdsdfsdfsd</p>
                      </div>
                    </div>
</body>

</html>