<div style="text-align: right; padding-right: 3rem">

  <nav>
  <% links = {
  'Sign up' => '/users/new',
  'Log in' => '/login',
  'Add your space' => '/spaces/new',
  'View spaces' => '/spaces'}
  links.each do |key, value|
  unless request.fullpath == value %>
    <a href="<%=value%>"><%=key%></a> |
  <% end %>
<% end %>
<%= link_to "Log out", logout_path, :method => :delete %>
  <% if !!session[:user_id] %>
  Hi, <%= User.return_user_info(session[:user_id])[:forename] %>!
  <% end %>
  </nav>
  </div>
