<div style="text-align: right; padding-right: 3rem">

  <nav>
  <% links = {
  'Sign up' => '/users/new',
  'Log in' => '/login',
  'Add your space' => '/spaces/new',
  'View spaces' => '/spaces'}
  links.each do |key, value|
  unless request.fullpath == value %>
    <a href="<%=value%>"><%=key%></a> |
  <% end %>
<% end %>
  </nav>
  </div>
