<div style="text-align: right; padding-right: 3rem">

  <nav>
  <a href="/users/new">Sign up</a> |
  <a href="/login">Log in</a> |
  <a href="/spaces/new">Add your space</a> |
  <a href="/spaces/show">View spaces</a>
  </nav>
  </div>
