* {
  font-family: Futura;
}


body {
  background-color: #D8D8D8;
  width: 100vw;
  height: 100vh;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
}

.top1,
.top2,
.top3, {
	justify-content:  center;
  text-align: center;
}

.top2 {
  grid-column-start: 2;
  grid-column-end: 4;
}
